.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.is-done{
  text-decoration: line-through;
}
.App button {
  width: 100px;
  height: 30px;
  font-weight: bold;
  margin-left: 1rem;
  border: none;
  outline: none;
  color: rgb(226, 226, 226);
  background-color: blueviolet;
}
.App input{
  height: 30px;
}